USE [master]
GO
/****** Object:  Database [ContaDB]    Script Date: 22/04/2025 22:38:39 ******/
CREATE DATABASE [ContaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ContaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ContaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ContaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ContaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ContaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ContaDB]
GO
/****** Object:  Table [dbo].[Balance_Saldos]    Script Date: 22/04/2025 22:38:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Balance_Saldos](
	[ID_Balance] [int] IDENTITY(1,1) NOT NULL,
	[Fecha_Corte] [date] NOT NULL,
	[Codigo_Cuenta] [varchar](50) NOT NULL,
	[Saldo_Deudor] [decimal](15, 2) NULL,
	[Saldo_Acreedor] [decimal](15, 2) NULL,
	[Fecha_Creacion] [datetime] NULL,
	[Fecha_Modificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Balance] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Fecha_Corte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogo_Cuentas]    Script Date: 22/04/2025 22:38:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogo_Cuentas](
	[Codigo_Cuenta] [varchar](50) NOT NULL,
	[Nombre_Cuenta] [varchar](255) NOT NULL,
	[Nivel] [int] NOT NULL,
	[Cuenta_Padre] [varchar](50) NULL,
	[Tipo_Cuenta] [varchar](10) NOT NULL,
	[Naturaleza_Cuenta] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo_Cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre_Cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_Estado_Resultados]    Script Date: 22/04/2025 22:38:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Estado_Resultados](
	[ID_Detalle_ER] [int] IDENTITY(1,1) NOT NULL,
	[ID_Estado_Resultado] [int] NOT NULL,
	[Codigo_Cuenta] [varchar](50) NOT NULL,
	[Valor] [decimal](15, 2) NOT NULL,
	[Tipo_Rubro] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Detalle_ER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_Estado_SF]    Script Date: 22/04/2025 22:38:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Estado_SF](
	[ID_Detalle_SF] [int] IDENTITY(1,1) NOT NULL,
	[ID_Estado_SF] [int] NOT NULL,
	[Codigo_Cuenta] [varchar](50) NOT NULL,
	[Valor] [decimal](15, 2) NOT NULL,
	[Tipo_Rubro] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Detalle_SF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_Presupuesto]    Script Date: 22/04/2025 22:38:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Presupuesto](
	[ID_Detalle_Presupuesto] [int] IDENTITY(1,1) NOT NULL,
	[ID_Presupuesto] [int] NOT NULL,
	[Codigo_Cuenta] [varchar](50) NOT NULL,
	[Valor_Presupuestado] [decimal](15, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Detalle_Presupuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalles_Partida]    Script Date: 22/04/2025 22:38:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalles_Partida](
	[ID_Detalle] [int] IDENTITY(1,1) NOT NULL,
	[ID_Partida] [int] NOT NULL,
	[Cuenta] [varchar](50) NOT NULL,
	[Debe] [decimal](15, 2) NULL,
	[Haber] [decimal](15, 2) NULL,
	[Descripcion] [varchar](255) NULL,
	[ID_Impuesto] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado_Resultados]    Script Date: 22/04/2025 22:38:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado_Resultados](
	[ID_Estado_Resultado] [int] IDENTITY(1,1) NOT NULL,
	[Periodo_Inicio] [date] NOT NULL,
	[Periodo_Fin] [date] NOT NULL,
	[Ingresos] [decimal](15, 2) NULL,
	[Costos_Ventas] [decimal](15, 2) NULL,
	[Gastos_Operacion] [decimal](15, 2) NULL,
	[Impuesto_Renta] [decimal](15, 2) NULL,
	[Resultado_Neto] [decimal](15, 2) NULL,
	[Fecha_Creacion] [datetime] NULL,
	[Fecha_Modificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Estado_Resultado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EstadoResultados] UNIQUE NONCLUSTERED 
(
	[Periodo_Inicio] ASC,
	[Periodo_Fin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado_Situacion_Financiera]    Script Date: 22/04/2025 22:38:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado_Situacion_Financiera](
	[ID_Estado_SF] [int] IDENTITY(1,1) NOT NULL,
	[Fecha_Corte] [date] NOT NULL,
	[Activo] [decimal](15, 2) NULL,
	[Pasivo] [decimal](15, 2) NULL,
	[Patrimonio] [decimal](15, 2) NULL,
	[Fecha_Creacion] [datetime] NULL,
	[Fecha_Modificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Estado_SF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Fecha_Corte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estados_Presupuestos]    Script Date: 22/04/2025 22:38:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estados_Presupuestos](
	[ID_Presupuesto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Presupuesto] [varchar](100) NOT NULL,
	[Periodo_Inicio] [date] NOT NULL,
	[Periodo_Fin] [date] NOT NULL,
	[Fecha_Creacion] [datetime] NULL,
	[Fecha_Modificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Presupuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EstadosPresupuestos] UNIQUE NONCLUSTERED 
(
	[Nombre_Presupuesto] ASC,
	[Periodo_Inicio] ASC,
	[Periodo_Fin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Impuestos]    Script Date: 22/04/2025 22:38:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Impuestos](
	[ID_Impuesto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Impuesto] [varchar](100) NOT NULL,
	[Tasa] [decimal](5, 2) NOT NULL,
	[Cuenta_Contable_Debito] [varchar](50) NULL,
	[Cuenta_Contable_Credito] [varchar](50) NULL,
	[Fecha_Creacion] [datetime] NULL,
	[Fecha_Modificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Impuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre_Impuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Monedas]    Script Date: 22/04/2025 22:38:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Monedas](
	[ID_Moneda] [int] IDENTITY(1,1) NOT NULL,
	[Codigo_Moneda] [varchar](10) NOT NULL,
	[Nombre_Moneda] [varchar](50) NOT NULL,
	[Simbolo] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Moneda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Codigo_Moneda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partidas]    Script Date: 22/04/2025 22:38:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partidas](
	[ID_Partida] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Numero_Asiento] [int] NOT NULL,
	[Descripcion] [varchar](255) NULL,
	[ID_Usuario_Creacion] [int] NULL,
	[ID_Usuario_Modificacion] [int] NULL,
	[ID_Tipo_Asiento] [int] NULL,
	[ID_Poliza] [int] NULL,
	[Fecha_Creacion] [datetime] NULL,
	[Fecha_Modificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Partida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Numero_Asiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Polizas]    Script Date: 22/04/2025 22:38:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Polizas](
	[ID_Poliza] [int] IDENTITY(1,1) NOT NULL,
	[Numero_Poliza] [varchar](20) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Tipo_Poliza] [varchar](10) NOT NULL,
	[Descripcion] [varchar](255) NULL,
	[ID_Usuario_Creacion] [int] NULL,
	[ID_Usuario_Modificacion] [int] NULL,
	[Fecha_Creacion] [datetime] NULL,
	[Fecha_Modificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Poliza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Numero_Poliza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 22/04/2025 22:38:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID_Rol] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Rol] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipos_Asiento]    Script Date: 22/04/2025 22:38:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipos_Asiento](
	[ID_Tipo_Asiento] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Tipo] [varchar](50) NOT NULL,
	[Descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Tipo_Asiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre_Tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 22/04/2025 22:38:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Usuario] [varchar](50) NOT NULL,
	[Contrasena] [varchar](255) NOT NULL,
	[Nombre_Completo] [varchar](100) NOT NULL,
	[Email] [varchar](100) NULL,
	[Fecha_Creacion] [datetime] NULL,
	[Fecha_Modificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_Roles]    Script Date: 22/04/2025 22:38:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Roles](
	[ID_Usuario_Rol] [int] IDENTITY(1,1) NOT NULL,
	[ID_Usuario] [int] NOT NULL,
	[ID_Rol] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Usuario_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UsuariosRoles] UNIQUE NONCLUSTERED 
(
	[ID_Usuario] ASC,
	[ID_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_fecha_balance]    Script Date: 22/04/2025 22:38:39 ******/
CREATE NONCLUSTERED INDEX [idx_fecha_balance] ON [dbo].[Balance_Saldos]
(
	[Fecha_Corte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_codigo_cuenta_catalogo]    Script Date: 22/04/2025 22:38:39 ******/
CREATE NONCLUSTERED INDEX [idx_codigo_cuenta_catalogo] ON [dbo].[Catalogo_Cuentas]
(
	[Codigo_Cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_nombre_cuenta_catalogo]    Script Date: 22/04/2025 22:38:39 ******/
CREATE NONCLUSTERED INDEX [idx_nombre_cuenta_catalogo] ON [dbo].[Catalogo_Cuentas]
(
	[Nombre_Cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_cuenta_detalle]    Script Date: 22/04/2025 22:38:39 ******/
CREATE NONCLUSTERED INDEX [idx_cuenta_detalle] ON [dbo].[Detalles_Partida]
(
	[Cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_periodo_resultado]    Script Date: 22/04/2025 22:38:39 ******/
CREATE NONCLUSTERED INDEX [idx_periodo_resultado] ON [dbo].[Estado_Resultados]
(
	[Periodo_Inicio] ASC,
	[Periodo_Fin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_fecha_situacion_financiera]    Script Date: 22/04/2025 22:38:39 ******/
CREATE NONCLUSTERED INDEX [idx_fecha_situacion_financiera] ON [dbo].[Estado_Situacion_Financiera]
(
	[Fecha_Corte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_periodo_presupuesto]    Script Date: 22/04/2025 22:38:39 ******/
CREATE NONCLUSTERED INDEX [idx_periodo_presupuesto] ON [dbo].[Estados_Presupuestos]
(
	[Periodo_Inicio] ASC,
	[Periodo_Fin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_nombre_impuesto]    Script Date: 22/04/2025 22:38:39 ******/
CREATE NONCLUSTERED INDEX [idx_nombre_impuesto] ON [dbo].[Impuestos]
(
	[Nombre_Impuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_fecha_partida]    Script Date: 22/04/2025 22:38:39 ******/
CREATE NONCLUSTERED INDEX [idx_fecha_partida] ON [dbo].[Partidas]
(
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_fecha_poliza]    Script Date: 22/04/2025 22:38:39 ******/
CREATE NONCLUSTERED INDEX [idx_fecha_poliza] ON [dbo].[Polizas]
(
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_numero_poliza]    Script Date: 22/04/2025 22:38:39 ******/
CREATE NONCLUSTERED INDEX [idx_numero_poliza] ON [dbo].[Polizas]
(
	[Numero_Poliza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_rol_nombre]    Script Date: 22/04/2025 22:38:39 ******/
CREATE NONCLUSTERED INDEX [idx_rol_nombre] ON [dbo].[Roles]
(
	[Nombre_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_usuario_nombre]    Script Date: 22/04/2025 22:38:39 ******/
CREATE NONCLUSTERED INDEX [idx_usuario_nombre] ON [dbo].[Usuario]
(
	[Nombre_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Balance_Saldos] ADD  DEFAULT ((0.00)) FOR [Saldo_Deudor]
GO
ALTER TABLE [dbo].[Balance_Saldos] ADD  DEFAULT ((0.00)) FOR [Saldo_Acreedor]
GO
ALTER TABLE [dbo].[Balance_Saldos] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [dbo].[Detalles_Partida] ADD  DEFAULT ((0.00)) FOR [Debe]
GO
ALTER TABLE [dbo].[Detalles_Partida] ADD  DEFAULT ((0.00)) FOR [Haber]
GO
ALTER TABLE [dbo].[Estado_Resultados] ADD  DEFAULT ((0.00)) FOR [Ingresos]
GO
ALTER TABLE [dbo].[Estado_Resultados] ADD  DEFAULT ((0.00)) FOR [Costos_Ventas]
GO
ALTER TABLE [dbo].[Estado_Resultados] ADD  DEFAULT ((0.00)) FOR [Gastos_Operacion]
GO
ALTER TABLE [dbo].[Estado_Resultados] ADD  DEFAULT ((0.00)) FOR [Impuesto_Renta]
GO
ALTER TABLE [dbo].[Estado_Resultados] ADD  DEFAULT ((0.00)) FOR [Resultado_Neto]
GO
ALTER TABLE [dbo].[Estado_Resultados] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [dbo].[Estado_Situacion_Financiera] ADD  DEFAULT ((0.00)) FOR [Activo]
GO
ALTER TABLE [dbo].[Estado_Situacion_Financiera] ADD  DEFAULT ((0.00)) FOR [Pasivo]
GO
ALTER TABLE [dbo].[Estado_Situacion_Financiera] ADD  DEFAULT ((0.00)) FOR [Patrimonio]
GO
ALTER TABLE [dbo].[Estado_Situacion_Financiera] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [dbo].[Estados_Presupuestos] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [dbo].[Impuestos] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [dbo].[Partidas] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [dbo].[Polizas] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [dbo].[Balance_Saldos]  WITH CHECK ADD FOREIGN KEY([Codigo_Cuenta])
REFERENCES [dbo].[Catalogo_Cuentas] ([Codigo_Cuenta])
GO
ALTER TABLE [dbo].[Catalogo_Cuentas]  WITH CHECK ADD FOREIGN KEY([Cuenta_Padre])
REFERENCES [dbo].[Catalogo_Cuentas] ([Codigo_Cuenta])
GO
ALTER TABLE [dbo].[Detalle_Estado_Resultados]  WITH CHECK ADD FOREIGN KEY([Codigo_Cuenta])
REFERENCES [dbo].[Catalogo_Cuentas] ([Codigo_Cuenta])
GO
ALTER TABLE [dbo].[Detalle_Estado_Resultados]  WITH CHECK ADD FOREIGN KEY([ID_Estado_Resultado])
REFERENCES [dbo].[Estado_Resultados] ([ID_Estado_Resultado])
GO
ALTER TABLE [dbo].[Detalle_Estado_SF]  WITH CHECK ADD FOREIGN KEY([Codigo_Cuenta])
REFERENCES [dbo].[Catalogo_Cuentas] ([Codigo_Cuenta])
GO
ALTER TABLE [dbo].[Detalle_Estado_SF]  WITH CHECK ADD FOREIGN KEY([ID_Estado_SF])
REFERENCES [dbo].[Estado_Situacion_Financiera] ([ID_Estado_SF])
GO
ALTER TABLE [dbo].[Detalle_Presupuesto]  WITH CHECK ADD FOREIGN KEY([Codigo_Cuenta])
REFERENCES [dbo].[Catalogo_Cuentas] ([Codigo_Cuenta])
GO
ALTER TABLE [dbo].[Detalle_Presupuesto]  WITH CHECK ADD FOREIGN KEY([ID_Presupuesto])
REFERENCES [dbo].[Estados_Presupuestos] ([ID_Presupuesto])
GO
ALTER TABLE [dbo].[Detalles_Partida]  WITH CHECK ADD FOREIGN KEY([Cuenta])
REFERENCES [dbo].[Catalogo_Cuentas] ([Codigo_Cuenta])
GO
ALTER TABLE [dbo].[Detalles_Partida]  WITH CHECK ADD FOREIGN KEY([ID_Impuesto])
REFERENCES [dbo].[Impuestos] ([ID_Impuesto])
GO
ALTER TABLE [dbo].[Detalles_Partida]  WITH CHECK ADD FOREIGN KEY([ID_Partida])
REFERENCES [dbo].[Partidas] ([ID_Partida])
GO
ALTER TABLE [dbo].[Impuestos]  WITH CHECK ADD FOREIGN KEY([Cuenta_Contable_Debito])
REFERENCES [dbo].[Catalogo_Cuentas] ([Codigo_Cuenta])
GO
ALTER TABLE [dbo].[Impuestos]  WITH CHECK ADD FOREIGN KEY([Cuenta_Contable_Credito])
REFERENCES [dbo].[Catalogo_Cuentas] ([Codigo_Cuenta])
GO
ALTER TABLE [dbo].[Partidas]  WITH CHECK ADD FOREIGN KEY([ID_Poliza])
REFERENCES [dbo].[Polizas] ([ID_Poliza])
GO
ALTER TABLE [dbo].[Partidas]  WITH CHECK ADD FOREIGN KEY([ID_Tipo_Asiento])
REFERENCES [dbo].[Tipos_Asiento] ([ID_Tipo_Asiento])
GO
ALTER TABLE [dbo].[Partidas]  WITH CHECK ADD FOREIGN KEY([ID_Usuario_Creacion])
REFERENCES [dbo].[Usuario] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Partidas]  WITH CHECK ADD FOREIGN KEY([ID_Usuario_Modificacion])
REFERENCES [dbo].[Usuario] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Polizas]  WITH CHECK ADD FOREIGN KEY([ID_Usuario_Creacion])
REFERENCES [dbo].[Usuario] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Polizas]  WITH CHECK ADD FOREIGN KEY([ID_Usuario_Modificacion])
REFERENCES [dbo].[Usuario] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Usuario_Roles]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles] ([ID_Rol])
GO
ALTER TABLE [dbo].[Usuario_Roles]  WITH CHECK ADD FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[Usuario] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Catalogo_Cuentas]  WITH CHECK ADD CHECK  (([Naturaleza_Cuenta]='Acreedora' OR [Naturaleza_Cuenta]='Deudora'))
GO
ALTER TABLE [dbo].[Catalogo_Cuentas]  WITH CHECK ADD CHECK  (([Tipo_Cuenta]='Gasto' OR [Tipo_Cuenta]='Costo' OR [Tipo_Cuenta]='Ingreso' OR [Tipo_Cuenta]='Patrimonio' OR [Tipo_Cuenta]='Pasivo' OR [Tipo_Cuenta]='Activo'))
GO
ALTER TABLE [dbo].[Detalle_Estado_Resultados]  WITH CHECK ADD CHECK  (([Tipo_Rubro]='Gasto' OR [Tipo_Rubro]='Costo' OR [Tipo_Rubro]='Ingreso'))
GO
ALTER TABLE [dbo].[Detalle_Estado_SF]  WITH CHECK ADD CHECK  (([Tipo_Rubro]='Patrimonio' OR [Tipo_Rubro]='Pasivo' OR [Tipo_Rubro]='Activo'))
GO
ALTER TABLE [dbo].[Polizas]  WITH CHECK ADD CHECK  (([Tipo_Poliza]='Cheque' OR [Tipo_Poliza]='Egreso' OR [Tipo_Poliza]='Ingreso' OR [Tipo_Poliza]='Diario'))
GO
USE [master]
GO
